@using  System.Security.Claims;
@model AboutModel
@{
    Layout = null;
}
@{
    string url = Convert.ToString(ViewBag.Url);
    var accountType = "";
    var userName = "";
    if (string.IsNullOrEmpty(User.Identity.Name) == false)
    {
        accountType = User.Claims.FirstOrDefault(x => x.Type.Equals("AccountType"))?.Value;
        userName = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
    }

}
<header class="header">
    <nav class="navbar navbar-white navbar-overlay">
        <a class="logo-link" href="home_v2.html">
            <img class="logotype" src="/assets/images/ui/logo-white.svg" alt="Sochi">
        </a>
        <div class="navbar__menu">
            <button class="hamburger" type="button">
                <span></span>
                <span></span>
            </button>
            <ul class="nav">
                <li class="nav__item _is-current"><a class="nav__link" href="/loai-phong"><span data-hover="Loại phòng">Loại phòng</span></a></li>
                @*
                    <li class="nav__item"><a class="nav__link" href="gallery.html"><span data-hover="Gallery">Gallery</span></a></li>*@
                <li class="nav__item"><a class="nav__link" href="/gioi-thieu"><span data-hover="About Us">About Us</span></a></li>
                <li class="nav__item"><a class="nav__link" href="/tin-tuc"><span data-hover="Tin tức">Tin tức</span></a></li>
                <li class="nav__item"><a class="nav__link" href="/lien-he"><span data-hover="Liên hệ">Liên hệ</span></a></li>
                <li class="nav__item"><a class="btn btn__medium" href="/dat-phong"><i class="btn-icon-left icon-bookmark"></i>Đặt phòng</a></li>
            </ul>
        </div>
        <div class="navbar__btn">
            <a class="btn btn__medium" href="/dat-phong"><i class="btn-icon-left icon-bookmark"></i>Đặt phòng</a>
        </div>
    </nav>
</header>