
@using  System.Security.Claims;

@model PartnerModel
@{
    string url = Convert.ToString(ViewBag.Url);
}
<div class="user-panel-body-left">
    <div class="bg-white rounded p-4 mb-4 text-center shadow-sm">

        @if (User.Identity.IsAuthenticated)
        {
            <img class="mb-3 mt-2 user-info-img" alt="Generic placeholder image" src="@Model?.Avatar.ToImage(url)">
            <h6 class="text-black mb-2 text-gray-900">@Model.Representative</h6>
            <p class="m-0"><a href="@("mailto:" + Model.Email)" class="__cf_email__">@Model.Email</a></p>
            <p class="mb-3">@Model.Phone</p>
        }


        <button type="button" class="btn btn-primary btn-block" onclick="location.href='/dang-xuat';">
            <i class="icofont-logout"></i>
            Đăng xuất
        </button>
        <p class="mb-0 mt-3">
            <a asp-route="partner-profile">
                <i class="icofont icofont-edit-alt"></i>
                Cập nhật thông tin
            </a>
        </p>
    </div>
    <div class="user-panel-sidebar-link mb-4 bg-white rounded shadow-sm overflow-hidden">
        @*<a href="/ma-giam-gia-cua-ban"><i class="icofont-ticket"></i> Mã giảm giá của bạn</a>*@
        @*<a href="#"><i class="icofont-sale-discount"></i> Quản lý tích điểm</a>*@
        <a asp-route="product-list-partner"><i class="icofont-heart"></i> Sản phẩm của bạn</a>
        @*<a href="#"><i class="icofont-star"></i> Đánh giá của bạn</a>*@
        @*<a href="#"><i class="icofont-live-messenger"></i> Phản hồi về hệ thống</a>*@
    </div>
</div>
