@model X.PagedList.IPagedList<ArticleModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = Convert.ToString(ViewBag.Url);
    var catModel = ViewBag.ArticleCategory as ArticleCategoryModel;
    if (catModel == null)
        ViewData["Title"] = "Tin tức";
    else
        ViewData["Title"] = catModel.MetaTitle;
}
@section metatags {
    <vc:vc-metatag key-word="" description="" />
}
<section class="container section section-first">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h1 class="title title--h1 js-lines">News / Events.</h1>
        </div>
        <div class="col-12">
            <!-- Filters -->
            <div class="select js-scroll-show">
                <span class="placeholder">Select category</span>
                <ul class="filter">
                    <li class="filter__item active" data-filter="*"><a class="filter__link active" href="#filter">All</a></li>
                    <li class="filter__item" data-filter=".category-news"><a class="filter__link" href="#filter">News</a></li>
                    <li class="filter__item" data-filter=".category-adventure"><a class="filter__link" href="#filter">Adventure</a></li>
                    <li class="filter__item" data-filter=".category-events"><a class="filter__link" href="#filter">Events</a></li>
                    <li class="filter__item" data-filter=".category-inspired"><a class="filter__link" href="#filter">Inspired</a></li>
                </ul>
                <input type="hidden" name="changemetoo" />
            </div>
        </div>
    </div>
    <div class="flex-container-z js-news js-sort mt-4">
        <div class="gutter-sizer"></div>
        <!-- itemNews -->
        <div class="itemNews category-adventure js-scroll-opacity">
            <figure class="itemNews__img-wrap">
                <a class="itemNews__link" href="#">
                    <div class="itemNews__date">Adventure <span>- 29 Sep 2019</span></div>
                    <img class="cover lazyload" src="assets/images/image_news_01.jpg" alt="" />
                </a>
            </figure>
            <div class="itemNews__details">
                <h4 class="title title--h4 js-lines">An amazing adventure in the mountain reserves.</h4>
            </div>
        </div>

        <!-- itemNews -->
        <div class="itemNews category-news js-scroll-opacity">
            <figure class="itemNews__img-wrap">
                <a class="itemNews__link" href="blog_post.html">
                    <div class="itemNews__date">News <span>- 27 Sep 2019</span></div>
                    <img class="cover lazyload" src="assets/images/image_news_02.jpg" alt="" />
                </a>
            </figure>
            <div class="itemNews__details">
                <h4 class="title title--h4 js-lines">Big discounts on air travel in the fall season.</h4>
            </div>
        </div>

        <!-- itemNews -->
        <div class="itemNews category-events js-scroll-opacity">
            <figure class="itemNews__img-wrap">
                <a class="itemNews__link" href="blog_post.html">
                    <div class="itemNews__date">Events <span>- 24 Sep 2019</span></div>
                    <img class="cover lazyload" src="assets/images/image_news_03.jpg" alt="" />
                </a>
            </figure>
            <div class="itemNews__details">
                <h4 class="title title--h4 js-lines">New luxury cozy houses for all families at attractive prices.</h4>
            </div>
        </div>

        <!-- itemNews -->
        <div class="itemNews category-inspired js-scroll-opacity">
            <figure class="itemNews__img-wrap">
                <a class="itemNews__link" href="blog_post.html">
                    <div class="itemNews__date">Inspired <span>- 18 Sep 2019</span></div>
                    <img class="cover lazyload" src="assets/images/image_news_04.jpg" alt="" />
                </a>
            </figure>
            <div class="itemNews__details">
                <h4 class="title title--h4 js-lines">How to prepare for the start of your vacation.</h4>
            </div>
        </div>

        <!-- itemNews -->
        <div class="itemNews category-adventure js-scroll-opacity">
            <figure class="itemNews__img-wrap">
                <a class="itemNews__link" href="blog_post.html">
                    <div class="itemNews__date">Adventure <span>- 10 Sep 2019</span></div>
                    <img class="cover lazyload" src="assets/images/image_news_05.jpg" alt="" />
                </a>
            </figure>
            <div class="itemNews__details">
                <h4 class="title title--h4 js-lines">Hurry up to get a ticket for a Mediterranean trip on a cruise ship.</h4>
            </div>
        </div>

        <!-- itemNews -->
        <div class="itemNews category-news js-scroll-opacity">
            <figure class="itemNews__img-wrap">
                <a class="itemNews__link" href="blog_post.html">
                    <div class="itemNews__date">News <span>- 01 Sep 2019</span></div>
                    <img class="cover lazyload" src="assets/images/image_news_06.jpg" alt="" />
                </a>
            </figure>
            <div class="itemNews__details">
                <h4 class="title title--h4 js-lines">The beginning of a new fall season at low prices.</h4>
            </div>
        </div>
    </div>
</section>