
@{
    ViewData["Title"] = "Thanh toán";
}
@model OrderModel
    <!-- Bread Crumb STRAT -->
    <div class="banner inner-banner1">
        <div class="container">
            <section class="banner-detail center-xs">
                <h1 class="banner-title right-side float-none-xs">Thanh toán</h1>
                <div class="bread-crumb">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i>Trang chủ</a>/</li>
                        <li><a href="/gio-hang">Giỏ hàng</a>/</li>
                        <li><span>Thanh toán</span></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <!-- Bread Crumb END -->
    <!-- CONTAIN START -->
    <section class="checkout-section ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="checkout-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="heading-part align-center">
                                    <h2 class="heading">Vui lòng điền vào chi tiết Giao hàng của bạn</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <form asp-route="checkout" class="main-form full">
                                    <div class="row mb-20">

                                        <div class="col-12 mb-20">
                                            <div class="heading-part">
                                                <h3 class="sub-heading">Thông tin nhận hàng</h3>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="col-12 mb-20">
                                            <message content="@ViewBag.Content" type="@ViewBag.Type" />
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-box">
                                                <input type="text" asp-for="FullName" required placeholder="Nhập họ và tên">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="input-box">
                                                <input type="text" asp-for="Mobi" required placeholder="Nhập số điện thoại">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-box">
                                                <input type="email" asp-for="Email" required placeholder="Nhập Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-box">
                                                <textarea rows="3" asp-for="Address" required placeholder="Nhập địa chỉ nhận hàng"></textarea>
                                                <span class="small">Vui lòng ghi thêm thông tin số nhà và tên đường. Bởi vì dịch cụ giao hàng sẽ tìm thấy địa chỉ nhà bạn dễ dàng hơn!</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-box">
                                                <textarea rows="3" asp-for="Remark" placeholder="Nhập ghi chú"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <a href="/gio-hang" class="btn btn-color right-side"><i class="fa fa-angle-left"></i> Quay lại giỏ hàng</a>
                                            <button type="submit" class="btn btn-color right-side">Đặt hàng <i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTAINER END -->
