@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>Baby Monkey</title>
    <!-- SEO Meta
      ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
      ================================================== -->
    <link rel="stylesheet" type="text/css" href="/css/custome67d.css?v=1.3">
    <link rel="stylesheet" type="text/css" href="/css/responsivee67d.css?v=1.3">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.html">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.html">
</head>
<body class="">
    <div class="se-pre-con"></div>
    <div class="main">

        <!-- CONTAIN START ptb-95-->
        <section class="ptb-60 gray-bg error-block-main">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="error-block-detail error-block-bg">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6"></div>
                                <div class="col-xl-7 col-lg-6">
                                    <div class="main-error-text">404</div>
                                    <div class="error-small-text">Chúng tôi xin lỗi</div>
                                    <div class="error-slogan">Không tìm thấy trang này!</div>
                                    <ul class="social-icon mb-20">
                                        <li><a class="facebook" title="Facebook" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                                        <li><a class="twitter" title="Twitter" href="#"><i class="fab fa-twitter"> </i></a></li>
                                        <li><a class="linkedin" title="Linkedin" href="#"><i class="fab fa-linkedin"> </i></a></li>
                                        <li><a class="rss" title="RSS" href="#"><i class="fa fa-rss"> </i></a></li>
                                        <li><a class="pinterest" title="Pinterest" href="#"><i class="fab fa-pinterest"> </i></a></li>
                                    </ul>
                                    <div class="middle-580">
                                    </div>
                                    <div class="mt-40"> <a href="/" class="btn btn-color">Trở về trang chủ</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CONTAINER END -->
      
    </div>
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.downCount.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/fotorama.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
